

@import "../../node_modules/material-ui/src/less/scaffolding.less";

@accent-1-color: @orange-A200;
@canvas-color: @blue-grey-900;
@border-color: @pink-400;
@flat-button-color: @transparent;
@flat-button-hover-color: lighten(@transparent, 10%);
@body-text-color: @grey-900;

@import "../../node_modules/material-ui/src/less/components.less";

button.mui-enhanced-button {
    border: 1px solid @border-color;
}

.recorder {
  margin: 25vh 0;
  width: 100vw;
  text-align: center;
  button {
    height: 50vh;
    width: 50vh;
    border-radius: 25vh;
  }
}

.brand {
    position: absolute;
    top: 10px;
    left: 15px;
}

.account-menu {
    position: absolute;
    top: 10px;
    right: 15px;
}
